<div class="product">
    <div class="product-prez col-sm-12">
        <div class="col-sm-6 col-xs-12 product-img">
            <img ng-src="../img/lena_color.gif"/>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2>Pack Abondance Illimitée</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </b>
                <span class="red-text">ex ea commodo consequat.</span>
            </p>

            <div class="red-price">488,00€</div>
            <div class="blue-price">67€</div>
            <div class="green-text">- Lorem ipsum dolor sit amet -</div>
            <div>
                <b>Lorem ipsum dolor sit amet</b>
                Lorem ipsum dolor sit amet
            </div>
            <div class="col-sm-6">
                <input type="button" class="btn" ng-click="vm.goToPay(1)" value="Payement en 1 fois"/>
            </div>
            <div class="col-sm-6">
                <input type="button" class="btn" ng-click="vm.goToPay(2)" value="Payement en 2 fois"/>
            </div>
        </div>
    </div>
    <div class="product-description col-sm-12">
        <h3>Description du produit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
    </div>
</div>