<div class="homePage">
    <iframe src="https://player.vimeo.com/video/127891883?autoplay=1&title=0&byline=0&portrait=0"
            width="640"
            height="360"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen>
    </iframe>

    <div>
        <h3> le prix du guide </h3>
        <input type="button" class="btn" value="ajouter au panier" ng-click="vm.addToBasket()"/>
    </div>

    <img ng-src="../img/orng2.png" />

    <div>
        <a href="/" ng-click="vm.addToBasket()">Je commence tout de suite >>>></a>
    </div>

</div>