<div class="payment">
    <form class="" id="payment" ng-submit="vm.Pay()">
        <div class="col-md-8 col-md-offset-4">

            <h1>Title</h1>

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="">
                        <input ng-model="vm.name" id="name" name="name" required>
                        <label for="name">Nom</label>
                    </div>
                    <div class="">
                        <input ng-model="vm.firstName" id="firstName" name="firstName" required>
                        <label for="firstName">Prénom</label>
                    </div>
                    <div class="">
                        <input ng-model="vm.email" type="email" id="email" name="email" required>
                        <label for="email">Mail</label>
                    </div>
                    <div class="">
                        <input ng-model="vm.date" id="date" name="date" required>
                        <label for="date">Date de naissance</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-large">Payer</button>
        </div>

    </form>
</div>